
body{
  background-color: #feebcb;
  max-width: 100%;
  max-height: 80%;
  margin: auto;
  /*padding-bottom: 5%;*/
}

header{
  margin: none;
  background-color: #fff;
  padding: 0.5%;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  text-shadow: 1px 1px 0px #666;
}

table{
  font-family: 'Abril Fatface', cursive;
  background-color:#accfcc;
  margin: 2em auto;
  border-collapse: collapse;
  border: solid 1px black;
}

legend{
  margin: auto;
}

tr#hoursHeading{
  font-family: 'Shadows Into Light', cursive;
  background-color: #fff;
  padding: 7px 20px 7px 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  border-bottom: solid 1px black;
}

td{
  padding: 1em;
  border-bottom: solid 1px black;
  padding-left: 5px;
  text-align: center;
}


form{
  background-color: white;
  max-width: 25%;
  margin: 3em auto;
}

fieldset{
  border: none;
}

legend{
  font-weight: bold;
  font-size: 1.05em;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

input:focus{
  max-width: 90%;
  margin: auto;
  background-color: #FFFDD3;
}

button:active{
  background-color: #DDD2FF;
}
/*td{
  border-left: solid 1px silver;
  border-right: solid 1px silver;
} */
