
body{
  background-color: #feebcb;
  margin: auto;
  font-family: font-family: 'Indie Flower', cursive;
}

header{
  background-image: url("tiles.jpeg");
  background-repeat: repeat;
  padding: 0.5% 0%;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5em;
  text-shadow: 1px 1.5px 0px #666;
  color: #daf3da;
}

h2.nav{
  font-size: 1em;
  margin: none;
}

nav{
  background-color: #F1FFCE;
  width: 100%;
  margin: none;
}

li{
  display: inline;
  padding: 1em;
}
a.nav{
  color: #feced7;
  text-decoration: none;
}
a.nav:hover{
  background-color: #A4AD8C;
}

div.sections{
  margin: 50px auto;
  height: 232px;
  width: 60%;
  border-radius: 10px;
}

div#intro{
  background-color: #DDEFC8;
}

div#special{
  background-color: #feced7;
}

div#wedding{
  background-color: #cecce9;
}

img{
  float: left;
  margin: auto;
  padding: 1em;
}

div.text{
  height: 200px;
  margin: auto;
  padding: 1em;
}

h3.inText{
  margin: auto;
}

h2#franchise{
  width: 60%;
  margin: auto;
  text-align: center;
}

table{
  font-family: 'Abril Fatface', cursive;
  background-color:#accfcc;
  margin: 50px auto 20px auto;
  border-collapse: collapse;
  border: solid 1px black;
}

legend{
  margin: auto;
}

tr#hoursHeading{
  font-family: 'Shadows Into Light', cursive;
  background-color: #fff;
  padding: 7px 20px 7px 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  border-bottom: solid 1px black;
}

td{
  padding: 1em;
  border-bottom: solid 1px black;
  padding-left: 5px;
  text-align: center;
}


form{
  width: 25%;
  margin: 0px auto 50px auto;
}

fieldset{
  border: none;
}

/*legend{
  font-weight: bold;
  font-size: 1.05em;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}*/

input{
  width: 98%;
}

input:focus{
  max-width: 90%;
  margin: auto;
  background-color: #FFFDD3;
}

button:active{
  background-color: #DDD2FF;
  width: 30%;
  margin: auto;
}
/*td{
  border-left: solid 1px silver;
  border-right: solid 1px silver;
} */
